.backgroundHolder{
	position:fixed;
	top: 0;
	left: 0;
	width: 100%;
	width: 100%;

	filter: blur(10px);
	z-index: -1000;
}

.backgroundHolder > *{
	position: absolute;

	--ObjectSize: 10vh;
	--Rotation: 0.125turn;
	--X: 0;
	--Y: 0;
	width: var(--ObjectSize);
	height: var(--ObjectSize);

	left: calc(var(--X) - var(--ObjectSize) / 2);
	top: calc(var(--Y) - var(--ObjectSize) / 2);

	clip-path: circle();
	background: linear-gradient(var(--Rotation), var(--GradientColour1RGB), var(--GradientColour2RGB));
}

.backgroundHolder > *:nth-child(1) {
	--X: 25vw;
	--Y: 60vh;
	--ObjectSize: 40vw;
}

.backgroundHolder > *:nth-child(2) {
	--X: 85vw;
	--Y: 35vh;
	--ObjectSize: 20vw;
	--Rotation: -0.3turn;
}

.backgroundHolder > *:nth-child(3) {
	--X: 65vw;
	--Y: 95vh;
	--ObjectSize: 15vw;
	--Rotation: -0.05turn;
}