#homeCover{
	display: grid;
	grid-template-columns: 6fr 4fr;
	height: 100vh;
}

/* cover left side */
#homeLeftSide{
	background-color: rgba(0, 0, 255, 0.6);
	padding-left: 7.5vw;
	padding-top: 35vh;
}


#homeTitle{
	text-decoration: underline;
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 0px;

	font-size: 6rem;
	text-shadow: 2px 4px var(--ColourAccent);
	text-underline-offset: 8px;
	line-height: 125%;
}

#homePhrase{
	color: var(--Colour-Text4);
	margin-left: 0.5em;
	margin-top: 0.5em;

	font-size: 4rem;
	/* text-shadow: 2px 2px #ff0000; */
	text-transform: capitalize;
	line-height: 125%;
}

/*desktop -------------------------------------*/
@media only screen and (max-width: 1200px){
	#homeTitle{
		font-size: 5rem;
	}

	#homePhrase{
		font-size: 3rem;
	}
}

/*mobile -------------------------------------*/
@media only screen and (max-width: 900px){
	#homeTitle,
	#homePhrase{
		text-align: center;
	}
	#homeRightSide{
		display: none;
	}
	#homeCover{
		display: grid;
		grid-template-columns: 1fr;
		height: 100vh;
	}
}



/* cover right side */
#homeRightSide{
	background-color: rgba(206, 38, 141, 0.6);
	position: relative;
}

#homeRightSide > .clock{

	--ClockRadius: min(15vw, 25vh);
	left: calc(var(--x) - var(--ClockRadius));
	top: calc(var(--y) - var(--ClockRadius));
}

#homeClock1{
	position: absolute;
	--x: 5vw;
	--y: 40vh;
	transform: rotateZ(0.05turn) rotateY(0.1turn);

}

#homeClock2{
	position: absolute;
	transform: rotateZ(-0.05turn) rotateY(-0.1turn);
	--x: 15vw;
	--y: 60vh;
}