<footer>
	<link rel="stylesheet" type="text/css" href="Components/Footer/Footer.css">

	<div class="footerHolder glass frosted">
		<h2 class="reveal fromTop center">Want to see the code?</h2>

		<div class="delayRevealChildren slow center ContactLinkHolder">
			<a class="reveal" href="https://github.com/louie-jones-strong/Agile_Team_Project" target="_blank">
				<img class="brandLogo glass neonOutline" src="Assets/Icons/github.svg" alt="Github Logo">
			</a>
		</div>
		<p id="copyRight" class="reveal fromLeft left">©2021 Group 44</p>
	</div>
</footer>
