<link rel="stylesheet" type="text/css" href="Components\Header\Header.css">
<link rel="stylesheet" type="text/css" href="Components\Header\Login.css">

<Header>
	<img id="headerLogo" src="Assets/Logo/Logo.png" alt="Logo">

	<nav>
		<a href="/" class="<% if (PageData.PageName == 'home') { %> selected<%}%>">Home</a>
		<a href="/about" class="<% if (PageData.PageName == 'about') { %> selected<%}%>">About</a>
		<a href="/clocks" class="<% if (PageData.PageName == 'clocks') { %> selected<%}%>">Clocks</a>
		<a href="/timeline" class="<% if (PageData.PageName == 'timeline') { %> selected<%}%>">Timeline</a>
		<a href="/calendar" class="<% if (PageData.PageName == 'calendar') { %> selected<%}%>">Calendar</a>
	</nav>

	<button class="loginButton glass frosted">
		<img class="loginIcon" src="Assets/Icons/person.svg">
		Login
	</button>

</Header>