<link rel="stylesheet" type="text/css" href="StyleSheets/CommonStyles/HeaderStyle.css">

<Header class="glass">
	<div class="center headerCenter">
		<img id="headerLogo" src="Assets/Logo/Logo.png" alt="Logo">
		<h1 class="center mainTitle">WellTimed</h1>
	</div>

	<nav>
		<a href="/">Home</a>
		<a href="/about">About</a>
		<a href="/clocks">Clocks</a>
		<a href="/timeline">Timeline</a>
		<a href="/calendar">Calendar</a>
	</nav>

	<button>
		Login
	</button>

</Header>