.calendar {
	padding-top: 5em;
}

/* calendarTop */
.calendarTop{
	border-top-left-radius: 2em;
	border-top-right-radius: 2em;
	margin-top: 2em;
	padding-bottom: 0.5em;
	padding-inline: 1em;
	display: flex;
	justify-content: space-between;
}

.calendarTop button{
	transform: scale(1);
	transition: transform 0.2s;
}

.calendarTop button:hover,
.calendarTop button:focus{
	transform: scale(1.1);
}

#currentCalendar{
	justify-self: center;
	margin-top: 1em;
}

.create > *{
	margin: 0.5em;
}

/* table */
.calendar table{
	width: 100%;
}

/* days mon, tue, wen ect */
.calendar table th{
	border: var(--Colour-Text1) solid 4px;
	padding: 0.33em;
	width: calc(100% / 7);
}


/* Days (1-31) */
.day {
	text-align: center;
	vertical-align: top;
	height: 7em;
	transition: all 0.2s;
	color: var(--Colour-Text1);
	border: var(--Colour-Text1) solid 4px;
	background-color: rgba(var(--BackgroundColour), 0.65);
	position: relative;
}

.currentDay {
	background: rgba(var(--ColourAccent), 1);
}

.day.otherMonth{
	color: var(--Colour-Text3);
	border-color: var(--Colour-Text3);
	border-style: dashed;
	border-width: 2px;
	background-color: rgba(var(--BackgroundColour-Contrast), 0.4);
}

.day.previousDay{
	color: var(--Colour-Text4);
}

.day.previousDay::before{
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(var(--BackgroundColour-Contrast), 0.2);
}

/* events */
.event{
	margin: 1px;
	text-align: left;
	position: relative;
	border-radius: 0.3em;

	color: var(--Colour-Text1);
	cursor: pointer;
}

.event::after{
	background-color: transparent;
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: background-color 0.2s;
	border-radius: 0.3em;
}

.event:focus::after,
.event:hover::after{
	background-color: rgba(var(--BackgroundColour), 0.5);
	border: var(--Colour-Text1) solid 1px;
}

.fullDayEvent{
	background-color: var(--EventColour);
	padding-left: 0.1em;
}

/* part day */
.partDayEvent{

}

/* part day dot */
.partDayEvent::before{
	content: "";
	width: 0.5em;
	height: 0.5em;
	clip-path: circle();
	background-color: var(--EventColour);
	padding-left: 0.5em;
}


/* event colours */

.redEvent{
	--EventColour: hsl(357, 50%, 55%);
}

.greenEvent{
	--EventColour: hsl(140, 50%, 55%);
}

.blueEvent{
	--EventColour: hsl(204, 50%, 55%);
}

.pinkEvent{
	--EventColour: hsl(288, 50%, 55%);
}



/* eventAttendees */

#eventAttendeesHolder{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	position: relative;
}

.eventAttendee{
	display: flex;
	margin: 0.25em;
	border-radius: 0.5em;
	padding: 0.1em;
	padding-inline: 0.5em;

	background-color: var(--ColourAccentRGB);
	color: var(--ColourAccentRGB-Contrast);
}

.eventAttendee button{
	margin-left: 1em;
	color: var(--ColourAccentRGB-Contrast);
}

#eventAttendeeInput{
	margin: 0.25em;
	border: none;
}

#eventAttendeesToolTip{
	display: none;
	position: absolute;
	left: 1em;
	top: calc(100% + 0.1em);
	width: calc(100% - 2em);
	height: max-content;
	z-index: 100;
	border-bottom-right-radius: 1em;
	border-bottom-left-radius: 1em;
	border: 1px solid var(--Colour-Text1);

	background-color: rgba(var(--BackgroundColour), 0.8);
}

#eventAttendeesHolder:focus-within > #eventAttendeesToolTip{
	display:block;
}

#eventAttendeesToolTip > h4{
	margin: 0em;
	padding: 0em;
	margin-inline:0.2em;
	text-align: center;
	color: var(--Colour-Text1);
}

#eventAttendeesToolTip  > button{
	width: 100%;
	text-align: center;
	padding-block: 0.25em;
	padding-inline: 0.5em;

	background-color: transparent;
	color: var(--Colour-Text1);
	transition: all 0.25s;
}

#eventAttendeesToolTip > button:focus, #eventAttendeesToolTip > button:hover{
	background-color: var(--Colour-Text4);
	color: var(--BackgroundColourRGB);
}