.backgroundHolder{
	position:fixed;
	top: 0;
	left: 0;
	width: 100%;
	width: 100%;

	filter: blur(10px);
	z-index: -1000;
}

.backgroundHolder > *{
	position: absolute;

	--objectSize: 10vh;
	--x: 0;
	--y: 0;
	width: var(--objectSize);
	height: var(--objectSize);

	left: calc(var(--x) - var(--objectSize) / 2);
	top: calc(var(--y) - var(--objectSize) / 2);

	clip-path: circle();
	background: linear-gradient(0.125turn, #ff0aa1, #eca815);
}

.backgroundHolder > *:nth-child(1) {
	--x: 25vw;
	--y: 60vh;
	--objectSize: 40vw;
}

.backgroundHolder > *:nth-child(2) {
	--x: 85vw;
	--y: 35vh;
	--objectSize: 20vw;
}

.backgroundHolder > *:nth-child(3) {
	--x: 65vw;
	--y: 95vh;
	--objectSize: 15vw;
}