#clockHolder{
	width: 100%;
	height: 100%;
	align-items: center;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-around;
}

/* top buttons */
.clockTop{
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.5em;
}

.topButton.editButton,
.topButton.removeButton{
	width: 2em;
	height: 2em;
	transition: all 0.2s;
	padding: 0.10em;
	padding-top: 0.25em;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	border-top: none;
	margin: 0;
	overflow: hidden;
}

.topButton:focus,
.topButton:hover{
	width: 6em;
}

/* edit button */
.topButton.editButton{
	border-bottom-right-radius: 0.5em;
	padding-left: 0.25em;
	border-left: none;
}

.editButton:focus::after,
.editButton:hover::after{
	content: "Edit \00270E";
}

/* remove button */
.topButton.removeButton{
	border-bottom-left-radius: 0.5em;
	padding-right: 0.25em;
	border-right: none;
}

.removeButton:focus::after,
.removeButton:hover::after{
	content: "Remove";
}

.card > div > h4{
	margin-top: 0.2em;
	margin-bottom: 0.4em;
}


/* clock face */
.clock{
	--ClockRadius: 10em;
	width: calc(var(--ClockRadius) * 2);
	height: calc(var(--ClockRadius) * 2);

	border-radius: 50%;
	margin-inline: 1em;
	position: relative;
	border:0.5em solid var(--Colour-Text1);
}

.hand{
	position: absolute;
	transform-origin: bottom center;
	border-radius: 4px;
	top: calc(var(--ClockRadius) - var(--HandLength));
	left: calc(var(--ClockRadius) - var(--HandWidth)/2);

	width: var(--HandWidth);
	height: var(--HandLength);
}

.hour{

	--HandWidth: calc(var(--ClockRadius) * 0.05);
	--HandLength: calc(var(--ClockRadius) * 0.55);
	background-color: var(--ColourAccentRGB);
	z-index: 10;
}

.minute{
	--HandWidth: calc(var(--ClockRadius) * 0.025);
	--HandLength: calc(var(--ClockRadius) * 0.7);
	background-color: var(--Colour-Text1);
	z-index: 9;
}

.second{
	--HandWidth: calc(var(--ClockRadius) * 0.015);
	--HandLength: calc(var(--ClockRadius) * 0.95);
	background-color:var(--Colour-Text1);
	z-index: 8;
}

.dot {
	--HandWidth: calc(var(--ClockRadius) * 0.1);
	--HandLength: calc(var(--ClockRadius) * 0.1);
	background-color: var(--ColourAccentRGB);

	top: calc(var(--ClockRadius) - var(--HandLength)/2);
	border-radius: 50%;
	z-index: 11;
}

/* markers */
.markers{
	width: 100%;
	height: 100%;
}

.markers > *{
	position: absolute;

	background-color: var(--ColourAccentRGB);
	transform: rotate(var(--angle));
	border-bottom-left-radius: calc(var(--ClockRadius) * 0.025);
	border-bottom-right-radius: calc(var(--ClockRadius) * 0.025);

	--HandWidth: calc(var(--ClockRadius) * 0.05);

	top: 0px;
	left: calc(var(--ClockRadius) - var(--HandWidth)/2);

	width: var(--HandWidth);
	height: calc(var(--ClockRadius) * 0.1);

	transform-origin: center var(--ClockRadius);
}


.markers > *:nth-child(1) {--angle: 360deg; background-color: var(--ColourMainRGB);}
.markers > *:nth-child(2) {--angle: 30deg;}
.markers > *:nth-child(3) {--angle: 60deg;}
.markers > *:nth-child(4) {--angle: 90deg;}
.markers > *:nth-child(5) {--angle: 120deg;}
.markers > *:nth-child(6) {--angle: 150deg;}
.markers > *:nth-child(7) {--angle: 180deg;}
.markers > *:nth-child(8) {--angle: 210deg;}
.markers > *:nth-child(9) {--angle: 240deg;}
.markers > *:nth-child(10) {--angle: 270deg;}
.markers > *:nth-child(11) {--angle: 300deg;}
.markers > *:nth-child(12) {--angle: 330deg;}