#popupHolder{
	z-index: 500;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	display: none;
	background-color: rgba(0,0,0, 0.75);
}

#popupHolder.popupShowing{
	display: flex;
}

.popup{
	border-radius: 3em;
	overflow: hidden;

	background-color: rgba(var(--BackgroundColour), 0.7);
	backdrop-filter: blur(50px);
	-webkit-backdrop-filter: blur(50px);

	box-shadow: 0em 0em 0.25em 0.125em rgba(var(--BackgroundColour-Contrast),50%);
	animation: PopupIntro 0.3s 1 ease-in-out;
}

@keyframes PopupIntro{
	0%{ transform: scale(0);}
	70%{ transform: scale(1.2);}
	100%{ transform: scale(1);}
}

.topButtonsHolder{
	display: flex;
	justify-content: space-between;
}

.closePopup{
	width: 2.5em;
	height: 2.5em;
	background-color: var(--InvalidColour);
	color: var(--InvalidColour-Contrast);
	border-bottom-left-radius: 1em;
	padding: 0.10em;
	padding-right: 0.5em;
	padding-top: 0.5em;
	justify-self: right;
	transition: width 0.2s;
}

.closePopup::after{
	content: "X";
}

.closePopup:hover,
.closePopup:focus{
	width: 5.5em;
}
.closePopup:hover::after,
.closePopup:focus::after{
	content: "Close";
}

#popupBody{
	padding-inline: 2em;
	padding-bottom: 1.5em;
	display: flex;
	flex-direction: column;
}


.popupTitle{
	margin-top: 0.5em;
}