#homeCover{
	display: grid;
	grid-template-columns: 6fr 4fr;
	height: 100vh;
}

.backgroundHolder{
	filter: blur(50px);
}

/* cover left side */
#homeLeftSide{
	background-color: rgba(var(--ColourMain), 0.3);
	padding-left: 7.5vw;
	padding-top: 35vh;
	padding-bottom: 5vh;
}


#homeTitle{
	text-decoration: underline;
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 0px;

	font-size: 6rem;
	text-shadow: 2px 4px var(--ColourAccentRGB);
	text-underline-offset: 8px;
	line-height: 125%;
}

#homePhrase{
	color: var(--Colour-Text4);
	margin-left: 2vw;
	margin-top: 0.5em;

	font-size: 4rem;
	text-shadow: 2px 4px var(--ColourMainRGB);
	text-transform: uppercase;
	line-height: 125%;
}


#homeCreateAccount{
	margin-left: 6vw;
	padding: 1.5em;
	background: var(--PositiveColour);
	color: var(--PositiveColour-Contrast);
	text-transform: uppercase;
}

#homeCreateAccount > *{
	margin: 0px;
	padding: 0px;
	color: var(--PositiveColour-Contrast);
	text-transform: uppercase;
}

/* learnAboutTeam  */

#learnAboutTeam{
	position: absolute;
	bottom: 5vh;
}

.teamIcons{
	padding: 1px;
}
.teamIcons > img{
	height: 3em;
	width: 3em;
	border: black solid 3px;
	border-radius: 50%;
	margin-right: -1.75em;
}




/*desktop -------------------------------------*/
@media only screen and (max-width: 1200px){
	#homeTitle{
		font-size: 5rem;
	}

	#homePhrase{
		font-size: 3rem;
	}
}

/*mobile -------------------------------------*/
@media only screen and (max-width: 900px){
	#homeTitle,
	#homePhrase{
		text-align: center;
	}
	#homeRightSide{
		display: none;
	}
	#homeCover{
		display: grid;
		grid-template-columns: 1fr;
		height: 100vh;
	}
}



/* cover right side */
#homeRightSide{
	background: linear-gradient(235deg, var(--GradientColour1RGB), var(--GradientColour2RGB));
	position: relative;
}

#homeRightSide > .clock{

	--ClockRadius: min(15vw, 25vh);
	left: calc(var(--x) - var(--ClockRadius));
	top: calc(var(--y) - var(--ClockRadius));
}

#homeClock1{
	position: absolute;
	--x: 5vw;
	--y: 40vh;
	transform: rotateZ(0.05turn) rotateY(0.1turn);

}

#homeClock2{
	position: absolute;
	transform: rotateZ(-0.05turn) rotateY(-0.1turn);
	--x: 15vw;
	--y: 60vh;
}