.loginButton{
	border-radius: 0.5em;
	padding: 0.5em;
	margin: 0.75em;
}

.loginIcon{
	color: var(--Colour-Text1);
	border: 3px solid var(--Colour-Text1);
	border-width: 3px;
	border-radius: 0.5em;
	filter: var(--Colour-Contrast-Filter);
}

#passwordConfirmLabel{
	margin-top: 0.5em;
}

#passwordConfirm{
	margin-bottom: 1em;
}