Header{
	width: 100%;
	z-index:1000;
	height: 5em;
	position: fixed;
	top: 0;

	display: flex;
	justify-content: space-between;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}

body.light Header{
	background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.4), rgba(255, 2550, 255, 0));
}

#headerLogo{
	height: 100%;
	width: max-content;
}

.headerCenter{
	justify-self: center;
	display: flex;
}

nav{
	margin: 1em;
	display: flex;
	flex-wrap: wrap;
}

nav > a{
	text-decoration: none;
	margin-inline: 1.25em;
	text-transform:uppercase;

	font-size: 2rem;
	color: var(--Colour-Text1);
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

nav > a.selected{
	text-decoration: underline;
	text-decoration-thickness: 0.2em;
}

nav > a:hover,
nav > a:focus{
	text-decoration: underline;
	text-decoration-thickness: 0.2em;
	text-decoration-color: var(--ColourAccent);
}